apiVersion: v1
kind: Service
metadata:
  name: wilapp
  namespace: dev
spec:
  selector:
    app: wilapp
  ports:
    - name: http
      port: 8888           # Service-Port
      targetPort: 8888     # << wichtig
      